@font-face {
  font-family: 'fontello';
  src: url('../fonts/meteo/fontello.eot?13297505');
  src: url('../fonts/meteo/fontello.eot?13297505#iefix') format('embedded-opentype'),
       url('../fonts/meteo/fontello.woff2?13297505') format('woff2'),
       url('../fonts/meteo/fontello.woff?13297505') format('woff'),
       url('../fonts/meteo/fontello.ttf?13297505') format('truetype'),
       url('../fonts/meteo/fontello.svg?13297505#fontello') format('svg');
  font-weight: normal;
  font-style: normal;
}
*,
*:after,
*:before {
	-webkit-box-sizing: border-box;
	box-sizing: border-box;
}
.clearfix:before,
.clearfix:after {
	display: table;
	content: '';
}
.clearfix:after {
	clear: both;
}
body {
	font-family: "Avenir Next", Avenir, 'Helvetica Neue', 'Lato', 'Segoe UI', Helvetica, Arial, sans-serif;
	color: #252445;
	background: #aaa;
	-webkit-font-smoothing: antialiased;
	-moz-osx-font-smoothing: grayscale;
}
a {
	outline: none;
	color: #fff;
	text-decoration: none;
}
a:hover,
a:focus {
	color: #252445;
}
.icon {
	font-family: 'fontello';
	speak: none;
	font-style: normal;
	font-weight: normal;
	font-variant: normal;
	text-transform: none;
	line-height: 1;
	/* Better Font Rendering =========== */
	-webkit-font-smoothing: antialiased;
	-moz-osx-font-smoothing: grayscale;
}
.moderate_rain:before {
	content: "\e808";
}
.clear_sky:before {
	content: "\e80b";
}
.light_rain:before {
	content: "\e821";
}
.rain:before {
	content: "\e822";
}
.thunderstorm:before {
	content: "\e82a";
}
.few_clouds:before {
	content: "\e818";
}
.broken_clouds:before {
	content: "\e803";
}
.overcast_clouds:before {
	content: "\e81c";
}
.scattered_clouds:before {
	content: "\e81e";
}
/*not yet*/
.wind_clouds:before {
	 content: "\e823";
 }
.frog_sun:before {
	  content: "\e81a";
}
/***/
#container{
	position:absolute;
}
.information{
	color: #ffffff;
}
.information span{
	color: #7ce0ff;
	padding-left: 2px;
}
h3 {
	font-size: 1.1em;
	color: #279a50;
	margin: 0.5em 0;
}
p {
	margin: 0.7em 0;
}
#weather{
	color: #95bb24;
}
#show, #hide{
	position: absolute;
	z-index: 11;
	margin: 2% 0 0 2%;
	font-size: 1.3em;
	color: #108ce6;
	width: 25px;
	cursor: pointer;
	display: none;
}
#hide{
    margin: 2% 0 0 90%;
    color: #e61210;
}
.icon-menu:before{
	content: "\f008";
}
.icon-cancel:before{
	content: "\e800";
}
.information{
	position: absolute;
	z-index: 9;
	background: rgba(0, 0, 0, 0.68);
	padding: 10px;
	border-bottom-right-radius: 8px;
	display: block;
}
.slideshow {
	position: relative;
	height: 100vh;
	width: 100vw;
	background: url(../img/city.jpg) no-repeat center top;
	background-size: cover;
	overflow: hidden;
}
.slideshow::before {
	content: '';
	position: absolute;
	left: 0;
	top: 0;
	width: 100%;
	height: 100%;
	background: rgba(255, 255, 255, 0.2);
}
.slide {
	position: absolute;
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;
	text-align: center;
	padding: 35vh 0 0 0;
	pointer-events: none;
	line-height: 1;
	font-family: "Roboto", sans-serif;
}
.slide--current {
	pointer-events: auto;
}
.slideshow__nav {
	text-align: center;
	width: 100%;
	display: -webkit-flex;
	display: flex;
	-webkit-flex-wrap: wrap;
	flex-wrap: wrap;
	-webkit-justify-content: center;
	justify-content: center;
	-webkit-align-items: center;
	align-items: center;
	position: absolute;
	bottom: 34vh;
}
.nav-item {
	display: block;
	padding: 1em;
	color: #252445;
	-webkit-transition: color 0.3s;
	transition: color 0.3s;
}
.nav-item:hover,
.nav-item:focus,
.nav-item--current {
	color: #f7f7c8;
}
.nav-item .icon {
	font-size: 2em;
}
.nav-item span {
	display: block;
	margin: 0.25em 0 0 0;
	font-weight: 700;
}
/* Content */
.slide__element {
	opacity: 0;
	color: #252445;
	-webkit-transform: translate3d(0, 50px, 0);
	transform: translate3d(0, 50px, 0);
	-webkit-transition: -webkit-transform 0.3s, opacity 0.3s;
	transition: transform 0.3s, opacity 0.3s;
}
.slide--current .slide__element {
	opacity: 1;
	-webkit-transform: translate3d(0, 0, 0);
	transform: translate3d(0, 0, 0);
}
.slide__element--temp {
	font-size: 8em;
	font-weight: 700;
	margin: 0 0 0.1em;
}
.slide__element--temp small {
	font-size: 0.25em;
}
.slide__element--info {
	font-size: 2em;
}
.slide__element--date {
	font-size: 1em;
	font-weight: 700;
	margin: 0 0 1em;
}
.nosupport {
	display: none;
	margin: 0 auto;
	font-size: 1.25em;
	padding: 1em;
	position: fixed;
	bottom: 0;
	width: 100vw;
	text-align: center;
	background: #a74e71;
	z-index: 1000;
}
.no-webgl .nosupport {
	display: block;
}
@media screen and (max-height: 39em) {
	.slideshow {
		font-size: 75%;
	}
	.slide {
		padding-top: 35vh;
	}
	.slideshow__nav {
		bottom: 10em;
	}
}
@media screen and (max-height: 440px) {
    .slideshow__nav {
        bottom: 5em;
    }
    .slide {
        padding-top: 27vh;
    }
}
@media screen and (min-width:1510px) {
	.information {
		width: 14%;
	}
}
@media screen and (max-width:1500px) {
	.information {
		width: 17%;
	}
}
@media screen and (max-width:1300px) {
	.information {
		width: 19%;
	}
	p {
		font-size: 1em;
	}
}
@media screen and (max-width:992px) {
	.information {
		width: 21%;
	}
	p {
		font-size: 0.9em;
	}
}
@media screen and (max-width:768px) {
	.information {
		width: 45%;
		display: none;
	}
	#show, #hide{
		display: block;
	}
}
@media screen and (max-width:450px) {
	.information {
		width: 100%;
	}
    .slideshow__nav {
        bottom: 10em;
    }
}
/*******/
.cssload-loader {
	position: absolute;
  z-index: 15;
  display:none;

	left: calc(50% - 44px);
	width: 88px;
	height: 88px;
	border-radius: 50%;
		-o-border-radius: 50%;
		-ms-border-radius: 50%;
		-webkit-border-radius: 50%;
		-moz-border-radius: 50%;
	perspective: 1100px;
}

.cssload-inner {
	position: absolute;
	width: 100%;
	height: 100%;
	box-sizing: border-box;
		-o-box-sizing: border-box;
		-ms-box-sizing: border-box;
		-webkit-box-sizing: border-box;
		-moz-box-sizing: border-box;
	border-radius: 50%;
		-o-border-radius: 50%;
		-ms-border-radius: 50%;
		-webkit-border-radius: 50%;
		-moz-border-radius: 50%;
}

.cssload-inner.cssload-one {
	left: 0%;
	top: 0%;
	animation: cssload-rotate-one 1.3s linear infinite;
		-o-animation: cssload-rotate-one 1.3s linear infinite;
		-ms-animation: cssload-rotate-one 1.3s linear infinite;
		-webkit-animation: cssload-rotate-one 1.3s linear infinite;
		-moz-animation: cssload-rotate-one 1.3s linear infinite;
	border-bottom: 4px solid rgb(0,231,247);
}

.cssload-inner.cssload-two {
	right: 0%;
	top: 0%;
	animation: cssload-rotate-two 1.3s linear infinite;
		-o-animation: cssload-rotate-two 1.3s linear infinite;
		-ms-animation: cssload-rotate-two 1.3s linear infinite;
		-webkit-animation: cssload-rotate-two 1.3s linear infinite;
		-moz-animation: cssload-rotate-two 1.3s linear infinite;
	border-right: 4px solid rgb(245,245,10);
}

.cssload-inner.cssload-three {
	right: 0%;
	bottom: 0%;
	animation: cssload-rotate-three 1.3s linear infinite;
		-o-animation: cssload-rotate-three 1.3s linear infinite;
		-ms-animation: cssload-rotate-three 1.3s linear infinite;
		-webkit-animation: cssload-rotate-three 1.3s linear infinite;
		-moz-animation: cssload-rotate-three 1.3s linear infinite;
	border-top: 4px solid rgb(23,53,250);
}

@keyframes cssload-rotate-one {
	0% {
		transform: rotateX(35deg) rotateY(-45deg) rotateZ(0deg);
	}
	100% {
		transform: rotateX(35deg) rotateY(-45deg) rotateZ(360deg);
	}
}

@-o-keyframes cssload-rotate-one {
	0% {
		-o-transform: rotateX(35deg) rotateY(-45deg) rotateZ(0deg);
	}
	100% {
		-o-transform: rotateX(35deg) rotateY(-45deg) rotateZ(360deg);
	}
}

@-ms-keyframes cssload-rotate-one {
	0% {
		-ms-transform: rotateX(35deg) rotateY(-45deg) rotateZ(0deg);
	}
	100% {
		-ms-transform: rotateX(35deg) rotateY(-45deg) rotateZ(360deg);
	}
}

@-webkit-keyframes cssload-rotate-one {
	0% {
		-webkit-transform: rotateX(35deg) rotateY(-45deg) rotateZ(0deg);
	}
	100% {
		-webkit-transform: rotateX(35deg) rotateY(-45deg) rotateZ(360deg);
	}
}

@-moz-keyframes cssload-rotate-one {
	0% {
		-moz-transform: rotateX(35deg) rotateY(-45deg) rotateZ(0deg);
	}
	100% {
		-moz-transform: rotateX(35deg) rotateY(-45deg) rotateZ(360deg);
	}
}

@keyframes cssload-rotate-two {
	0% {
		transform: rotateX(50deg) rotateY(10deg) rotateZ(0deg);
	}
	100% {
		transform: rotateX(50deg) rotateY(10deg) rotateZ(360deg);
	}
}

@-o-keyframes cssload-rotate-two {
	0% {
		-o-transform: rotateX(50deg) rotateY(10deg) rotateZ(0deg);
	}
	100% {
		-o-transform: rotateX(50deg) rotateY(10deg) rotateZ(360deg);
	}
}

@-ms-keyframes cssload-rotate-two {
	0% {
		-ms-transform: rotateX(50deg) rotateY(10deg) rotateZ(0deg);
	}
	100% {
		-ms-transform: rotateX(50deg) rotateY(10deg) rotateZ(360deg);
	}
}

@-webkit-keyframes cssload-rotate-two {
	0% {
		-webkit-transform: rotateX(50deg) rotateY(10deg) rotateZ(0deg);
	}
	100% {
		-webkit-transform: rotateX(50deg) rotateY(10deg) rotateZ(360deg);
	}
}

@-moz-keyframes cssload-rotate-two {
	0% {
		-moz-transform: rotateX(50deg) rotateY(10deg) rotateZ(0deg);
	}
	100% {
		-moz-transform: rotateX(50deg) rotateY(10deg) rotateZ(360deg);
	}
}

@keyframes cssload-rotate-three {
	0% {
		transform: rotateX(35deg) rotateY(55deg) rotateZ(0deg);
	}
	100% {
		transform: rotateX(35deg) rotateY(55deg) rotateZ(360deg);
	}
}

@-o-keyframes cssload-rotate-three {
	0% {
		-o-transform: rotateX(35deg) rotateY(55deg) rotateZ(0deg);
	}
	100% {
		-o-transform: rotateX(35deg) rotateY(55deg) rotateZ(360deg);
	}
}

@-ms-keyframes cssload-rotate-three {
	0% {
		-ms-transform: rotateX(35deg) rotateY(55deg) rotateZ(0deg);
	}
	100% {
		-ms-transform: rotateX(35deg) rotateY(55deg) rotateZ(360deg);
	}
}

@-webkit-keyframes cssload-rotate-three {
	0% {
		-webkit-transform: rotateX(35deg) rotateY(55deg) rotateZ(0deg);
	}
	100% {
		-webkit-transform: rotateX(35deg) rotateY(55deg) rotateZ(360deg);
	}
}

@-moz-keyframes cssload-rotate-three {
	0% {
		-moz-transform: rotateX(35deg) rotateY(55deg) rotateZ(0deg);
	}
	100% {
		-moz-transform: rotateX(35deg) rotateY(55deg) rotateZ(360deg);
	}
}
